pip install -U datasets==2.17.0
pip install --upgrade pip
pip install --disable-pip-version-check torch==1.13.1
pip install torchdata==0.5.1 --quiet
pip install transformers==4.27.2
pip install evaluate==0.4.0
pip install rouge_score==0.1.2
pip install -q peft==0.3.0
pip install git+https://github.com/lvwerra/trl.git@25fa1bd